
@{
    ViewData["Title"] = "Success";
}

<h5><center>Successfully Created</center></h5>
<center>
<input type='button' value='Login' id='Buton' onClick='redirectOnClick()' /></center>
<script>
    function redirectOnClick() {
        document.location = 'Index';  //controller/action 
    }
</script>