@model VaccineManagement.Models.Booking
@{
    ViewData["Title"] = "Update";
}


<div class="row">
    <div class="col-md-9"><h4>Update Booking</h4></div>
    <div class="col-md-3">
        <div style="padding:5px;width:190px">
            <a class="nav-link text-dark" asp-area="" asp-controller="Vaccine" asp-action="BookedDetails" style="background-color:Highlight;border-radius:5px">Back to Details</a>
        </div>
    </div>
</div>
<hr />
<style>
    body{
        background-color:lightyellow;
    }
    div {
        border-radius: 5px;
    }

</style>
<body>
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Update" class="bg-white  rounded-5 shadow-5-strong p-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <input asp-for="Schedule" class="form-control" />
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AID" class="control-label"></label>
                <input asp-for="AID" class="form-control" value=@ViewBag.AID />
                <span asp-validation-for="AID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
